<% if flash[:notice] %>
 <%= flash[:notice] %>
<% end %>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <%= render "users" %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
         <% @user.books.each do |book| %>
      　　<tr>
      　　   <td><a href="<%= user_path(book.user) %>"><%= image_tag @user.get_profile_image, width: 80, height: 80%></td>
           <td><%= link_to book.title, book_path(book) %></td>
           <td><%= book.body %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
  </div>
</div>