<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/60b6d7d28b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
       <nav>
        <a href="/">
          <span>Bookers</span>
        </a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a href="/">Home</a>
          </li>
          <li class="nav-list-item">
             <a href="/users">Users</a>
          </li>
          <li class="nav-list-item">
             <a href="/books">Books</a>
          </li>
          <li class="nav-list-item">
            <%= link_to "log out", destroy_user_session_path, method: :delete %>
          </li>
         </ul>
        </nav>
     <% else %>
      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "log in", new_user_session_path %>
      </li>
     <% end %>
    </header>
   <%= yield %>
  </body>
  <footer>
    CopyRight Infratop.inc
  </footer>
</html>
