<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/60b6d7d28b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav class="navbar bg-dark">
       <div class="container">
        <a class="navbar-brand text-white" href="/">
         <span>Bookers</span>
        </a>
       <ul class="nav ml-auto">
        <li>
          <a class="nav-link text-white" href="/users/<%= current_user.id %>">
            <i class="fa-solid fa-home" style="color: #ffffff;"></i>Home
          </a>
        </li>
        <li>
          <a class="nav-link text-white" href="/users">
            <i class="fa-solid fa-users" style="color: #ffffff;"></i>Users
          </a>
        </li>
        <li>
          <a class="nav-link text-white" href="/books">
            <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>Books
          </a>
        </li>
        <li>
         <a class="nav-link text-white" href="<%= destroy_user_session_path %>" data-method="delete">
           <i class="fa-solid fa-sign-out-alt" style="color: #ffffff;"></i>Log out
         </a>
        </li>
       </ul>
       </div>
      </nav>
     <% else %>
     <nav class="navbar bg-dark">
      <div class="container">
        <a class="navbar-brand text-white" href="/">
         <span>Bookers</span>
        </a>
        <ul class="nav ml-auto">
          <li>
            <a class="nav-link text-white" href="/">
              <i class="fa-solid fa-home" style="color: #ffffff;"></i> Home
            </a>
          </li>
          <li>
            <a class="nav-link text-white" href="/home/about">
              <i class="fa-solid fa-link" style="color: #ffffff;"></i> About
            </a>
          </li>
          <li>
           <a class="nav-link text-white" href="/users/sign_up">
             <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Sign up
           </a>
          </li>
          <li>
           <a class="nav-link text-white" href="/users/sign_in">
             <i class="fa-solid fa-sign-in-alt" style="color: #ffffff;"></i> Log in
           </a>
          </li>
        </ul>
        </div>
     </nav>
     <% end %>
    </header>
    <main>
      <div class="row justify-content-center">
        <% if user_signed_in? %>
      　 <div class="search_form">
             <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['User'], ['Book']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "検索", class: "btn btn-primary" %>
             <% end %>
          </div>
      　 <% end %>
      </div>
    </main>
     <%= yield %>
  </body>
  <footer>
    <div class="container mt-5">
     <div class="row">
       <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
       </div>
     </div>
    </div>
  </footer>
</html>
