<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/60b6d7d28b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav class="navbar bg-dark">
       <div class="container">
        <a class="navbar-brand text-white" href="/">
         <span>Bookers</span>
        </a>
       <ul class="nav ml-auto">
        <li>
          <a class="nav-link text-white" href="/">
            <i class="fa-solid fa-house" style="color: #ffffff;"></i>Home
          </a>
        </li>
        <li>
          <a class="nav-link text-white" href="/users">
            <i class="fa-solid fa-users" style="color: #ffffff;"></i>Users
          </a>
        </li>
        <li>
          <a class="nav-link text-white" href="/books">
            <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>Books
          </a>
        </li>
        <li>
         <a class="nav-link text-white" href="<%= destroy_user_session_path %>" data-method="delete">
           <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>Log out
         </a>
        </li>
       </ul>
       </div>
      </nav>
     <% else %>
     <nav class="navbar bg-dark">
      <div class="container">
        <a class="navbar-brand text-white" href="/">
         <span>Bookers</span>
        </a>
        <ul class="nav ml-auto">
          <li>
            <a class="nav-link text-white" href="/">
              <i class="fa-solid fa-house" style="color: #ffffff;"></i> Home
            </a>
          </li>
          <li>
            <a class="nav-link text-white" href="homes/about">
              <i class="fa-solid fa-link" style="color: #ffffff;"></i> About
            </a>
          </li>
          <li>
           <a class="nav-link text-white" href="sign_up">
             <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i> Sign up
           </a>
          </li>
          <li>
           <a class="nav-link text-white" href="sign_in">
             <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Log in
           </a>
          </li>
        </ul>
        </div>

     </nav>
     <% end %>
    </header>
   <%= yield %>
  </body>
  <footer>
    <div class="container mt-5">
     <div class="row">
       <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
       </div>
     </div>
    </div>
  </footer>
</html>
